{% extends 'base.html.twig' %}

{% block page_title %}La Braise Dorée, Pizzeria traditionnel - Accueil{% endblock %}
{% block page_metadata %}
<meta charset="utf-8" name="description" content="La Braise Dorée est une pizzeria traditionnel, qui saura répondre à vos attentes grâce à son service de qualité et son environnement convivial" />
<!--Le titre est essentielle pour le référencement, on y met nos mots clés qui seront présentes sur notre page-->
<!--Le content qui se trouve dans le méta est lui aussi tout important, -->
{% endblock %}


{% block body %}
<link href="{{asset('css/home.css') }}" rel="stylesheet" type="text/css"/>
<!--Descriptif des classes dans le fichier css correspondant-->

  <div id="carouselHome" class="carousel slide" data-ride="carousel"> <!--Div du carousel, -->
    <ul class="carousel-indicators carouselBtn">
      <li data-target=".carousel" data-slide-to="0" class="active "></li> <!--Les boutons pour choisir l'image que l'on veut-->
      <li data-target=".carousel" data-slide-to="1" class=""></li>
      <li data-target=".carousel" data-slide-to="2" class=""></li>
    </ul>
    <div class="carousel-inner"> <!--La div où se trouve les images-->
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{asset('asset/pizza_carrousel1.webp')}}" alt="Premier Slide" height="864px">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{asset('asset/pizza.jpg')}}" alt="Deuxième Slide" height="864px">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{{asset('asset/pizza_carrousel3.jpg')}}" alt="Troisième slide" height="864px">
      </div>
    </div>
  </div>

  <div class="about"> <!--Div parlant de -->
    <h1 class="redcol">A propos de La Braise Dorée</h1>
    <p class="textInfo">Spécialisés dans la cuisson de pizza traditionnelle, nous proposons avant tout à notre clientèle, un moment de partage, convivial proposant un service de qualité. Nous vous garantissons un service rapide et efficace.
    </p>
  </div>

  <div class="boxSize df fww"> <!--df=display: flex, fw=flex-wrap: wrap, cette div sert pour englober l'image de la devanture et les horraires-->

    <div class="df"> <!--l'image à coté des horraires , (devanture,intérieur) de la pizzeria-->
      <img src="{{asset('asset/fondHome.jpeg')}}" alt="Pizzeria traditionnel - La Braise Dorée" width="800px" height="600px">
    </div>

    <div class="df fdc txtA"> <!--fd=flex-direction: column, la div pour les horraires-->
        <h2 class="redcol">Horraires</h3>
        <p class="hourDescript">Il se peut qu'il y ait des changements horaires pendant les périodes de vacances scolaires.</p>
        <div>
          <table class="ma"> <!--Affichage des horraires, ma=margin: auto-->
            <tr>
              <td></td>
              <td class="txtA">Matin</td> <!--txtA=text-align: center-->
              <td class="txtA">Après-Midi</td>
            </tr>
            <tr>
              <td class="spacing">Lundi</td> <!--cette classe permet d'avoir un espacement entre les td-->
              <td class="spacing">11h00-14h00</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Mardi</td>
              <td class="spacing">11h00-14h00</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Mercredi</td>
              <td class="spacing">11h00-14h00</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Jeudi</td>
              <td class="spacing">11h00-14h00</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Vendredi</td>
              <td class="spacing">11h00-14h00</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Samedi</td>
              <td class="spacing">Fermée</td>
              <td class="spacing">18h00-23h00</td>
            </tr>
            <tr>
              <td class="spacing">Dimanche</td>
              <td class="spacing">Fermée</td>
              <td class="spacing">Fermée</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
{% endblock %}
