{% extends 'base.html.twig' %}

{% block title %}Formule{% endblock %}

{% block body %}
    <h1 class="titleBlackcol titleSize">Formule</h1>

    <table class="table">
        <tbody class="txtBlackecol">
            <tr>
                <th class="titleBlackcol">Id</th>
                <td>{{ formula.id }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Name</th>
                <td>{{ formula.name }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Price</th>
                <td>{{ formula.price }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Produit</th>
                <td>{{ formula.produit }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Dessert</th>
                <td>{{ formula.dessert }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Boisson</th>
                <td >{{ formula.drink }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Image</th>
                <td>{{ formula.image }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Image2</th>
                <td>{{ formula.image2 }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Image3</th>
                <td>{{ formula.image3 }}</td>
            </tr>
        </tbody>
    </table>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('formula_index') }}">back to list</a>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('formula_edit', {'id': formula.id}) }}">edit</a>

    {{ include('formula/_delete_form.html.twig') }}
{% endblock %}
