{% extends 'base.html.twig' %}

{% block body %}
<link href="{{asset('css/produit.css') }}" rel="stylesheet" type="text/css"/>
<!--Descriptif des classes dans le fichier css correspondant-->

<h1 class="redcol highTitle primaryTitle">Nos Pizzas</h1>
<div class="shortcut linkDecoration">
  <div class="ancrage">
  <h3 class=""><a href="#lasagne" class="redcol nav-link colLink">Lasagnes</a></h3>
</div>
  <div class="ancrage">
  <h3 class=""><a href="#ciabatta" class="redcol nav-link colLink">Ciabattas</a></h3>
</div>
  <div class="ancrage">
  <h3 class=""><a href="#boisson" class="redcol nav-link colLink">Boissons</a></h3>
</div>
  <div class="ancrage">
  <h3 class=""><a href="#dessert" class="redcol nav-link colLink">Désserts</a></h3>
</div>
</div>
<div class="allPizza">
  <div class="placementProduit">
    <h2 class="redcol primaryTitle">Pizza Rouge</h2>
    {% for pizza in red_pizza  %}
    <div class="positionPizza">
      <div class="imgPizza">
        <!--Route de l'image du produit via VichUploaderBundle-->
        <img src="{{ vich_uploader_asset(pizza, 'imageFile') }}" alt="{{ pizza.name }}" width="280px" height="150px">
      </div>
      <div class="divPizza">
        <h3 class="miniTitle">{{ pizza.name }}</h3>
        <p class="posIngredient">{{ pizza.ingredient }}</p>
      </div>
      <div class=" divPrix">
        <h3 class="miniTitle">Prix Moyen</h3>
        <p class="posPrix">{{ pizza.price }}€</p>
      </div>
      <div class=" divPrix">
        <h3 class="miniTitle">Prix Grand</h3>
        <p class="posPrix">{{ pizza.highPrice }}€</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class=" placementProduit">
    <h2 class="redcol primaryTitle">Pizza Blanche</h2>
    {% for pizza in white_pizza  %}
    <div class="positionPizza">
      <div class="imgPizza">
        <img src="{{ vich_uploader_asset(pizza, 'imageFile') }}" alt="{{ pizza.name }}" width="280px" height="150px">
      </div>
      <div class=" divPizza">
        <h3 class="miniTitle">{{ pizza.name }}</h3>
        <p class="posIngredient">{{ pizza.ingredient }}</p>
      </div>
      <div class=" divPrix">
        <h3 class="miniTitle">Prix Moyen</h3>
        <p class="posPrix">{{ pizza.price }}€</p>
      </div>
      <div class=" divPrix">
        <h3 class="miniTitle">Prix Grand</h3>
        <p class="posPrix">{{ pizza.highPrice }}€</p>
      </div>
    </div>
    {% endfor %}
    <h2 class="redcol primaryTitle">La Sucrée</h2>
    <div class="autreProduit">
      {% for pizza in other_pizza  %}
      <div class="">
        <img src="{{ vich_uploader_asset(pizza, 'imageFile') }}" alt="{{ pizza.name }}" width="280px" height="150px">
      </div>
      <div class="autrePizza">
        <h3 class="miniTitle">{{ pizza.name }}</h3>
        <div class="autrePrix">
          <div class="">
            <h3 class="miniTitle">Prix Moyen</h3>
            <p class="">{{ pizza.price }}€</p>
          </div>
          <div class="">
            <h3 class="miniTitle">Prix Grand</h3>
            <p class="autrePizzaPrixm">{{ pizza.highPrice }}€</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<h2 class="redcol highTitle" id="lasagne">Lasagnes</h2>
<p class="highTitle">ON VA METTRE LES PRIX ICI</p>
<div class="produitTypePlacement">
{% for product in lasagne %}
<div class="divSeparation">
  <div class="placementProduit">
      <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" width="350px" max-height="350px">
      <p class="nomProduit">{{ product.name }}</p>
  </div>
</div>
{% endfor %}
</div>

<h2 class="redcol highTitle" id="ciabatta">Ciabattas</h2>
<p class="">Ciabatta seul : 4.5€
  <br> Ciabatta + Boisson : 5.5€
  <br> Formule Ciabatta <br> + Boisson 33cl +dessert : 7.5€


</p>
<div class="produitTypePlacement">
  {% for product in ciabatta %}
  <div class="divSeparation">
    <div class="placementProduit">
      <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" width="350px" max-height="350px">
      <p class="nomProduit">{{ product.name }}</p>
    </div>
  </div>
  {% endfor %}
</div>


<h2 class="redcol highTitle" id="boisson">Boissons</h2>
<div class="produitTypePlacement">
  {% for drink in drinks %}
  <div class="divSeparation">
    <div class="placementProduit">
      {% if drink.name == "Caprisun, Fruit shoot" %}
        <span class=""><img src="{{ vich_uploader_asset(drink, 'imageFile') }}" alt="{{ drink.name }}" width="350px" max-height="300px"></span>
        <p class="nomProduit">{{ drink.name }} {{ drink.centiliter }} à {{ drink.price }}€</p>
      {% else %}
        <img src="{{ vich_uploader_asset(drink, 'imageFile') }}" alt="{{ drink.name }}" width="350px" max-height="150px">
        <p class="nomProduit">{{ drink.name }} {{ drink.centiliter }} à {{ drink.price }}€</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>





<h2 class="redcol highTitle" id="dessert">Désserts</h2>
<div class="produitTypePlacement">
  {% for product in dessert %}
  <div class="divSeparation">
    <div class="placementProduit">
      <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" width="350px" max-height="350px">
      <p class="nomProduit">{{ product.name }} à {{ product.price }}€</p>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}
