{% extends 'base.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1 class="titleBlackcol titleSize">Pizza</h1>

    <table class="table">
        <tbody class="txtBlackcol">
            <tr>
                <th class="titleBlackcol">Id</th>
                <td>{{ pizza.id }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Nom</th>
                <td>{{ pizza.name }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Ingredient</th>
                <td>{{ pizza.ingredient }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Sauce</th>
                <td>{{ pizza.sauce }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Prix de la petite pizza</th>
                <td>{{ pizza.price }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Prix de la grande pizza</th>
                <td>{{ pizza.highPrice }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Image</th>
                <td>{{ pizza.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('pizza_index') }}">revenir à la liste,</a>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('pizza_edit', {'id': pizza.id}) }}">edit</a>

    {{ include('pizza/_delete_form.html.twig') }}
{% endblock %}
