{% extends 'base.html.twig' %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <h1>Pizza</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="redcol">Id</th>
                <td class="whitecol">{{ pizza.id }}</td>
            </tr>
            <tr>
                <th class="redcol">Nom</th>
                <td class="whitecol">{{ pizza.name }}</td>
            </tr>
            <tr>
                <th class="redcol">Ingredient</th>
                <td class="whitecol">{{ pizza.ingredient }}</td>
            </tr>
            <tr>
                <th class="redcol">Sauce</th>
                <td class="whitecol">{{ pizza.sauce }}</td>
            </tr>
            <tr>
                <th class="redcol">Prix de la petite pizza</th>
                <td class="whitecol">{{ pizza.price }}</td>
            </tr>
            <tr>
                <th class="redcol">Prix de la grande pizza</th>
                <td class="whitecol">{{ pizza.highPrice }}</td>
            </tr>
            <tr>
                <th class="redcol">Image</th>
                <td class="whitecol">{{ pizza.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="colLink" href="{{ path('pizza_index') }}">revenir à la liste,</a>

    <a class="colLink" href="{{ path('pizza_edit', {'id': pizza.id}) }}">edit</a>

    {{ include('pizza/_delete_form.html.twig') }}
{% endblock %}
