{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<link href="{{asset('css/admin/product.css') }}" rel="stylesheet" type="text/css"/>

<div class="placementForm">
  <div>
    <div>
      <h1 class="redcol titrePrincipal">Edit un produit</h1>
    </div>
    {{form_start(form)}}

    <div class="df">
      <div class="form-group inputDisposition">
        <div class="labelDisposition">
          {{ form_label(form.name, 'Nom') }}
        </div>
        <div class="formDisposition">
          {{form_row(form.name, {'label': ' ', 'attr': {'placeholder': 'Nom ...', 'class': 'form-control'} })}}
        </div>
      </div>
      <div class="form-group inputDisposition">
        <div class="labelDisposition">
          {{ form_label(form.type, 'Type') }}
        </div>
        <div class="formDisposition">
          {{form_row(form.type, {'label': ' ', 'attr': {'placeholder': 'Centilitre ...', 'class': 'form-control'} })}}
        </div>
      </div>
    </div>

    <div class="df">
      <div class="form-group inputDisposition">
        <div class="labelDisposition">
          {{ form_label(form.price, 'Prix Moyen') }}
        </div>
        <div class="formDisposition">
          {{form_row(form.price, {'label': ' ', 'attr': {'placeholder': 'Prix Moyens ...', 'class': 'form-control'} })}}
        </div>
      </div>
      <div class="imageDisposition">
        {{form_row(form.imageFile)}}
      </div>
    </div>

    <div class="inputDisposition">
      <button class="btn redcol buttonSize">{{ button_label|default('Sauvegarder') }}</button>
      <a class="colLink" href="{{ path('product_index') }}">back to list</a>
    </div>
    {{form_end(form)}}
  </div>
</div>
{% endblock %}
