{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1 class="titleBlackcol titleSize">Product</h1>

    <table class="table">
        <tbody class="txtBlackecol">
            <tr>
                <th class="titleBlackcol">Type</th>
                <td>{{ product.type }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th class="titleBlackcol">Image</th>
                <td>{{ product.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('product_index') }}">back to list</a>

    <a class="titleBlackcol colLink linkUnderline" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
