{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="df">

  <div>
    <h3>Adresse</h3>
    <p></p>
    <p>Tel : 00 00 00 00 00 00</p>
  </div>

  <div id="contactForm" class="df">
    {{form_start(form)}}
      <div>
        <label for="lastname">Nom <span class="redcol">*</span></label>
        {{form_row(form.lastname)}}
        {{form_row(form.firstname)}}
      </div>
      <div>
        {{form_row(form.subject)}}
        {{form_row(form.email)}}
      </div>
      {{form_row(form.message)}}
      <input type="submit" id="submit" name="submit" value="Envoyer">
    {{form_end(form)}}
  </div>

</div>
{% endblock %}
