{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
  <p>Bonjour</p>
  {{ message }}
</div>
{% endfor %}


<div class="df">

  <div>
    <h3>Adresse</h3>
    <p>Salut</p>
    <p>Tel : 00 00 00 00 00 00</p>
  </div>

  <div id="contactForm" class="df">
    {{form_start(form)}}
    <div class="df">
      
      {{form_row(form.lastname)}}

      {{form_row(form.firstname)}}
    </div>
    <div class="df">
      {{form_row(form.subject)}}
      {{form_row(form.email)}}
    </div class="df">
    {{form_row(form.message)}}
    <div>
      <input type="submit" id="submit" name="submit" value="Envoyer">
    </div>
    {{form_end(form)}}
  </div>

</div>
{% endblock %}
