{% extends 'base.html.twig' %}

{% block title %}Drink index{% endblock %}

{% block body %}
    <h1>Drink index</h1>

    <table class="table">
        <thead class="redcol">
            <tr class="redcol">
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Centiliter</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for drink in drinks %}
            <tr class="whitecol">
                <td class="redcol">{{ drink.id }}</td>
                <td>{{ drink.name }}</td>
                <td>{{ drink.price }}</td>
                <td>{{ drink.centiliter }}</td>
                <td>{{ drink.image }}</td>
                <td>
                    <a class="colLink" href="{{ path('drink_show', {'id': drink.id}) }}">show</a>
                    <a class="colLink" href="{{ path('drink_edit', {'id': drink.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="colLink" href="{{ path('drink_new') }}">Create new</a>
{% endblock %}
