{% extends 'base.html.twig' %}

{% block title %}Drink{% endblock %}

{% block body %}
    <h1>Drink</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="redcol">Id</th>
                <td class="whitecol">{{ drink.id }}</td>
            </tr>
            <tr>
                <th class="redcol">Name</th>
                <td class="whitecol">{{ drink.name }}</td>
            </tr>
            <tr>
                <th class="redcol">Price</th>
                <td class="whitecol">{{ drink.price }}</td>
            </tr>
            <tr>
                <th class="redcol">Centiliter</th>
                <td class="whitecol">{{ drink.centiliter }}</td>
            </tr>
            <tr>
                <th class="redcol">Image</th>
                <td class="whitecol">{{ drink.image }}</td>
            </tr>
        </tbody>
    </table>

    <a class="colLink" href="{{ path('drink_index') }}">back to list</a>

    <a class="colLink" href="{{ path('drink_edit', {'id': drink.id}) }}">edit</a>

    {{ include('drink/_delete_form.html.twig') }}
{% endblock %}
