{% extends 'head.html.twig' %}

{% block stylesheets %}
<style type="text/css">
@font-face { /*Police des titres, liens*/
font-family: 'Lobster';
src:url("{{asset('css/fonts/Lobster-Regular.ttf')}}") format('truetype');
}

@font-face { /*Police du texte en général*/
font-family: 'Cabin';
src:url("{{asset('css/fonts/Cabin-Regular.ttf')}}") format('truetype');
}
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href='{{asset('css/base.css')}}' rel="stylesheet" type="text/css"/>
{% endblock %}
{% block basebody %}
<!--Descriptif des classes dans le fichier css correspondant (css/base.css)-->
<body>
<!--Le container utilisé pour toute les pages, il est utilisé pour la typo et le background-->
<div class="baseContainer">
  <header class="header">
    <a href="" class="logo">
      <img src="{{asset('asset/logo.png')}}" alt="Logo de la BraiseDorée" width="300px" height="150px">
    </a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <div class="tailleBtn">
      <label class="menu-icon" for="menu-btn"><span class=" menu titleRedcol titleSize">Menu</span></label>
    </div>
    <ul class="menu ulPlacement">
      <li><a class="titleRedcol colLink linkUnderline linkSize liBackground" href="/">Accueil</a></li>
      <li><a class="titleRedcol colLink linkUnderline linkSize liBackground" href="/produit">Nos Produits</a></li>
      <li><a class="titleRedcol colLink linkUnderline linkSize liBackground" href="/contact">Contact</a></li>
      {% if not app.user %}
      <li class="nav-item headerRight">
        <a class="nav-link titleRedcol colLink linkUnderline linkSize  liBackground" href="/connexion">Connexion</a>
      </li>
      {% else %}
      <li class="nav-item headerRightConnect">
        <a class="nav-link titleRedcol colLink linkUnderline linkSize  liBackground" href="{{ path('security_logout') }}">Déconnexion</a>
      </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item headerRightConnect">
        <a class="nav-link titleRedcol colLink linkUnderline linkSize liBackground" href="/admin">Admin</a>
      </li>
      {% endif %}
    </ul>
  </header>

  <div class="blockContainer">
    {% block body %}{% endblock %}
  </div>

  <footer>
    <div class="footerContainer"> <!--container du footer-->
          <h3 class="titleRedcol">Suivez-nous</h3>
          <span class="reseauSociau">
            <a href="https://www.facebook.com/labraise.doree.71"><i class="fab fa-facebook-f fa-2x whitecol"></i></a> <!--Icônes des réseaux sociaux et lien perméttant d'y accéder-->
          </span>
        <div class="credit txtWhitecol">
          <p>Réalisé par: <a class="colLink titleRedcol" href="https://github.com/TomCermelli?tab=repositories">Tom CERMELLI</a></p>
        </div>
    </div>
  </footer>
</div>









  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <!--Les 3 CDN de bootstrap pour le JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!--Lien perméttant d'utiliser les icônes de fontawesome (icônes de facebook,twitter....) -->
  {% block javascripts %}{% endblock %}
</body>
{% endblock %}
